/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: lightgray;
}
html,
body {
  font-family: 'Overpass', sans-serif;
}
h1 {
  font-size: 3.2rem;
}
h2,
p {
  font-size: 2.8rem;
  padding: 2%;
}
h3 {
  font-size: 1.6rem;
}
header {
  background: #444444;
  padding: 0 5%;
}
header .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .navbar h1 {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
header .navbar h1 a {
  color: #AEAEAE;
  text-decoration: none;
}
header .navbar h1 a:hover {
  color: #E67644;
}
header .navbar nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
header .navbar nav #login {
  background-color: #E67644;
  color: #444444;
}
header .navbar nav #login:hover {
  background-color: #e46c37;
  border: 2px solid #e46c37;
  color: #D3D3D3;
}
header .navbar nav a {
  text-decoration: none;
  margin: 2%;
  padding: 2%;
  width: 100%;
  border: 2px solid #E67644;
  border-radius: 5px;
  text-align: center;
  font-size: 2.5rem;
  color: #AEAEAE;
}
header .navbar nav a:hover {
  color: #D3D3D3;
}
body {
  background-color: #D3D3D3;
  color: #444444;
}
body #mainheader {
  display: flex;
  width: 55%;
  padding: 25vh 0 0 10vh;
  text-align: left;
  justify-content: space-between;
  border: solid;
}
body #mainheader #index {
  display: flex;
  width: 55%;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
}
body #mainheader #index h1 {
  display: flex;
  flex-direction: column;
  color: #E67644;
  font-size: 7rem;
  padding: 3vh 0;
}
body #mainheader #index h2 {
  padding: 2vh 0;
  text-indent: initial;
  font-size: 5rem;
}
body #mainheader #index h2 mark {
  background: #c2c2c2;
  color: #444444;
  padding: 0.4rem;
}
body #mainheader #index h3 {
  font-size: 1.7rem;
  padding: 3vh 0;
}
body #mainheader .mock {
  display: flex;
  width: 5%;
  border: solid;
  flex-direction: column;
}
body #mainheader .mock img {
  width: 20%;
}
#about {
  text-align: center;
  color: #444444;
  padding: 2rem;
  font-size: 3.1rem;
}
#about p {
  text-align: center;
  color: #89868D;
  padding: 5rem;
}
#about .developers {
  text-transform: uppercase;
}
#about .developers ul {
  color: #E67644;
  padding-bottom: 2rem;
}
#about .developers ul li {
  text-transform: none;
  padding: 1rem;
  font-size: 1.8rem;
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v4/qFdH35WCmI96Ajtm81GlU94.ttf) format('truetype');
}
