

.team {
    text-align: center;
    color: @darkgray;
    padding: 2%;
    font-size: 3.1rem;

    p {
        text-align: center;
        color: @gray;
        padding: 5%;
    }
    
    .developers {

    ul {
        color: @orange;
        padding-bottom: 2%;
        li {
            padding: 1%;
            font-size: 1.8rem; 
        }
    }
}
}

