.team {
    text-align: center;
    color: @darkgray;
    padding: 2rem;
    font-size: 3.1rem;


    p {
        text-align: center;
        color: @gray;
        padding: 5rem;
    }
    
    .developers {
        text-transform: uppercase;
    ul {
        color: @orange;
        padding-bottom: 2rem;
        li {
            text-transform: none;
            padding: 1rem;
            font-size: 1.8rem; 
        }
    }
}
}

