// General Styles
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
      background: lightgray;
      // margin: 0 2%;
      // padding: 2% 5%;
  }
  
  html, body {
    .font();
    // color: @main-font-color;
  }
  
  
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
 
