body {
    background-color: @white;
    color: @darkgray;

    #mainheader {
        display: flex;
        width: 55%;
        padding: 25vh 0 0 10vh;
        text-align: left;
        justify-content: space-between;
        // flex-direction: column;
        border: solid;

    #index{
        display: flex;
        // padding: 25vh 0 0 10vh ;
        width: 55%;
        text-align: left;
        flex-direction: column;
        justify-content: space-between;
        // flex-direction: column;
        border: solid;

        h1 {
            display: flex;
            flex-direction: column;
            color: @orange;
            font-size: 7rem;
            padding: 3vh 0;
        }

        h2 {
            padding: 2vh 0;
            text-indent: initial;
            font-size: 5rem;

           mark {
                background: lighten(@lightgray, 8%);
                color: @darkgray;
                padding: .4rem;
            }
        }

        h3 {
            font-size: 1.7rem;
            padding: 3vh 0;
        }  

    }

    .mock {
        display: flex;
        width: 5%;
        border: solid;
        flex-direction: column;
        
        img {
            width: 20%;
        }
    }
}
}

