body {
    background-color: @white;
    color: @darkgray;
    
    

    #mainheader {
        display: flex;
        width: 80%;
        // margin: 3rem 7rem;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        text-align: left;


        @media @tablet {
            flex-direction: column;
            width: 100%;
            padding: 15rem;
            margin: 0;
        }

        @media @phone {
            padding: 2rem;
        }

      

        #index {
            display: flex;
        
            text-align: left;
            flex-direction: column;
            justify-content: space-around;

        
            @media @tablet {
                width: 90%;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            }
    

            h1 {
                color: @orange;
                font-size: 7rem;
                padding: 3rem 0;

                @media @tablet {
                    font-size: 5rem;
            
                }

                @media @phone {
                    font-size: 4rem;
            
                }
                
            }

            h2 {
                padding: 2rem 0;
                font-size: 5rem;

                @media @tablet {
                    font-size: 4rem;
                }

                @media @phone {
                    font-size: 3rem;
            
                }

            mark {
                    background: lighten(@lightgray, 8%);
                    color: @darkgray;
                    padding: .4rem;
                }
            }

            p {
                font-size: 1.7rem;
                padding: 1rem 0;
                width: 65%;
                text-align: justify;

                @media @tablet {
                    text-align: center;
                    justify-content: center;
                    width: 80%;
                    padding: .5rem;
                }
            }  

        }

        #mock {
            display: flex;

            justify-content: space-around;


            @media @tablet {
                align-items: center;
                width: 100%;
                padding: 4rem;
            }
        }
    }
}