body {
    background-color: @white;
    color: @darkgray;
    

    #mainheader {
        display: flex;
        padding: 20rem 15rem;
        text-align: left;
        justify-content: center;
        align-items: center;

    #index {
        display: flex;
        // padding: 25vh 0 0 10vh ;
        width: 50%;
        text-align: left;
        flex-direction: column;
    
        // flex-direction: column;

        h1 {
            color: @orange;
            font-size: 7rem;
            padding: 3vh 0;
        }

        h2 {
            padding: 2vh 0;
            text-indent: initial;
            font-size: 5rem;

           mark {
                background: lighten(@lightgray, 8%);
                color: @darkgray;
                padding: .4rem;
            }
        }

        h3 {
            font-size: 1.7rem;
            padding: 3vh 0;
            width: 65%;
            text-align: justify;
        }  

    }

    .mock {
        display: flex;
        width: 60%;
        flex-direction: column;
        
    }
}
}

