header {
    display: flex;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 70%;
        a{
            width: 100%;
        }
    }
}